name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2.0.0

      - name: Install dependencies
        run: poetry install

      - name: Run make all inside Poetry shell
        run: poetry run make

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "release/*"
          tag: ${{ github.run_number }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: dev-drprasad/delete-older-releases@v0.1.0
        with:
          keep_latest: 3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
